<div class="container m">
  <h2 class="text-center">
    All of <span class="text-blue">{{ selectedUser.username }}'s </span>Task's
  </h2>
  <!-- <ng-template *ngIf="displayTasks; else noTasks"> -->
  <div class="container-sm">
    <ng-container *ngFor="let userTask of userTasks; trackBy: trackByFunction">
      <div class="card ">
        <div class="card-content">
          {{ userTask.title }}
        </div>
        <div class="card-footer text-right my-sm">
          <p>
            <small>Reminder Date</small
            ><span class="text-blue"> {{ userTask.remainder_date }}</span>
          </p>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- </ng-template> -->
  <!-- <ng-template #noTasks>
          <div class="container-sm">
            <div class="card">
              <div class="card-head my-sm">
                <h3>No tasks for now.</h3>
              </div>
            </div>
          </div>
        </ng-template> -->
</div>
