<header class="bg-blue py-def footer">
  <div class="container flex flex-space-btwn flex-align-center">
    <a class="goto text-grey" routerLinkActive="activeLink" routerLink="/">
      <i class="fas fa-user"></i
    ></a>
    <a
      routerLinkActive="activeLink"
      routerLink="/addTask"
      class="add_task text-grey flex flex-align-center justify-center goto"
      ><i class="fas fa-plus"></i
    ></a>
    <a
      routerLinkActive="activeLink"
      routerLink="/allTask"
      class="goto text-grey "
    >
      <i class="fas fa-clipboard-list"></i
    ></a>
  </div>
</header>
