<div class="container m">
  <h1 class="text-center">Your <span class="text-blue">Notifications</span></h1>
  <div class="container-sm">
    <div class="card ">
      <div class="card-footer my-1 flex flex-space-btwn">
        <span>Total assigned task</span>
        <span class="text-right text-blue">23</span>
      </div>
      <div class="card-footer my-1 flex flex-space-btwn">
        <span>Total distributed task</span>
        <span class="text-right text-blue">03</span>
      </div>
    </div>
  </div>
</div>
