<div class="container m">
  <h1 class="text-center">
    Your <span class="text-blue">Notification's</span>
  </h1>

  <div class="container-sm">
    <ng-container
      *ngFor="let notification of notifications; trackBy: trackByFunction"
    >
      <div class="card ">
        <div class="card-content">
          {{ notification.task_name }}
        </div>
        <div class="card-footer text-right my-sm">
          <p>
            <small
              >Assigned on<span class="text-blue">
                {{ notification.created_on }}</span
              ></small
            >
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
