/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
$primary-black: #36362e;
$primary-blue: #3f51b5;
$primary-grey: #ccc;
a {
  text-decoration: none;
}
html,
body {
  height: 100%;

  font-family: "Montserrat", sans-serif !important;
}
button {
  font-family: "Montserrat", sans-serif !important;
}

input {
  font-family: "Montserrat", sans-serif !important;
}
input::placeholder {
  font-family: "Montserrat", sans-serif !important;
}
.container {
  width: 1200px !important;
  margin: 0 auto;
  @media (min-width: 992px) {
    width: 70% !important;
  }
  @media (min-width: 600px) {
    width: 85% !important;
  }
  @media (max-width: 600px) {
    width: 90% !important;
  }
}
.flex {
  display: flex;
}
.flex-space-btwn {
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-def {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.text-black {
  color: $primary-black;
}
.bg-blue {
  background: $primary-blue;
}
.text-center {
  text-align: center;
}
.text-blue {
  color: $primary-blue;
}
.text-white {
  color: #fff;
}
.text-grey {
  color: $primary-grey;
}
.text-left {
  text-align: left !important;
}
.goto:hover {
  color: #fff;
  cursor: pointer;
}
.justify-center {
  justify-content: center;
}
.activeLink {
  color: #fff;
}
.m {
  margin: 2rem auto 4rem auto;
}
.form {
  margin-top: 2rem;
  width: 600px;
  max-width: 80%;
  margin: 2rem auto 0 auto;
  label {
    color: $primary-grey;
  }
  button {
    background: #3f51b5;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    &:hover {
      box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.3);
    }
    &:active {
      transform: translateY(2px);
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
      border-bottom: none;
    }
  }
}
.form-group {
  margin: 2rem 0;
  input {
    border: none;
    font-size: 1rem;
    width: 100%;
    border-bottom: #ccc 1px solid;
    outline: none;
    &[type="datetime-local"] {
      color: $primary-grey;
      &:focus {
        color: $primary-blue;
      }
    }
    &::placeholder {
      color: $primary-grey;
    }
    &:focus {
      border-bottom: #3f51b5 1px solid;
      outline: none;
      &::placeholder {
        color: #3f51b5;
      }
    }
  }
}
.card {
  box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
  padding: 1rem;
  margin: 1rem 0;
}
.text-right {
  text-align: right;
}
.container-sm {
  width: 600px;
  max-width: 100%;
  margin: 2rem auto;
}
.my-sm {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.border-grey {
  background-color: $primary-grey;
  height: 0.3px;
  width: 100%;
}
.bg-danger {
  background: crimson;
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.hello-btn {
  background: $primary-blue;
  color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  &:hover {
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.3);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
    border-bottom: none;
  }
}
.bg-success {
  background: #b7f07c;
}
